h1  {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;}

p  {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;}

 strong  {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;}